/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

.states{
     stroke: #fff;
     stroke-width: 1;
     fill:   #E1E8E4;
 }

.selected_states{
    fill:   #2D38DE;
}

h1 {
    margin-top: 0;
    font-family: 'dusha';
    color: #d20a11;
}

h2 {
    font-family: 'dusha';
    color: #d20a11;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0;
}

